<!doctype html>
<html>
    <head>
        <title>CSPB pathway generator</title>
    </head>
    <body>
        <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('plan') }}">Plan</a>
        <a href="{{ url_for('contact') }}">Contact Us</a>
        <a href="{{ url_for('about') }}">About This Project</a>
        <a href="{{ url_for('updates') }}">Blog and Updates</a>
        </nav>
        <hr>
        <h1>About Page</h1>
        <p>Help students be able to take all of the classes they want given their current progress and graduation plan.</p>
        <p>Help students get class information and class difficulty level.</p>
        <p>Help students get a balanced schedule.</p>

    </body>
</html>