<!doctype html>
<html>
    <head>
        <title>CSPB pathway generator</title>
    </head>
    <body>
        <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('plan') }}">Plan</a>
        <a href="{{ url_for('contact') }}">Contact Us</a>
        <a href="{{ url_for('about') }}">About This Project</a>
        <a href="{{ url_for('updates') }}">Blog and Updates</a>
        </nav>
        <hr>
        <h1>Contacts Page</h1>
        <h3>Guanbo Bian</h3>
        <h3>Emily Carpenter</h3>
        <h3>Ryan Young</h3>
    </body>
</html>