<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/">
        CSPB 1300 <input type="checkbox" value="1" name="mycheckbox">
        CSPB 2824<input type="checkbox" value="2" name="mycheckbox">
        CSPB 2270<input type="checkbox" value="3" name="mycheckbox">
        CSPB 3104 <input type="checkbox" value="4" name="mycheckbox">
        CSPB 2400<input type="checkbox" value="5" name="mycheckbox">
        CSPB 3308<input type="checkbox" value="6" name="mycheckbox">
        CSPB 3155 <input type="checkbox" value="7" name="mycheckbox">
        CSPB 3702<input type="checkbox" value="8" name="mycheckbox">
        CSPB 3022<input type="checkbox" value="9" name="mycheckbox">
        CSPB 4122 <input type="checkbox" value="10" name="mycheckbox">
        CSPB 4502<input type="checkbox" value="11" name="mycheckbox">
        CSPB 2820<input type="checkbox" value="12" name="mycheckbox">
        CSPB 3403<input type="checkbox" value="13" name="mycheckbox">
        <input type="submit">
    </form>
</body>
</html>