{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block body %}
    <h1>College Planner</h1>

    <form action="{{ url_for('index') }}" method="post">
    	<div class="container-fluid">
	    	<div class="form-group row">
	    		<div class="col-md-4">
	    			<p>Sign up for an email reminder of when to register next semester!</p>
	    			<input type="text" name="name" class="form-control" placeholder="Enter Your Name">
	    			<button class="btn btn-primary">Submit</button>
	    		</div>
	    	</div>
    	</div>
    </form>

{% endblock %}