{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block body %}
    <h1>CSPB Pathway Generator</h1>

	<div>

		<p>This is a tool designed for students in the University of Colorado’s Computer Science Post-Bacc Program. Since the program recently implemented changes to the elective offering and created a rotation of courses, we realized this means students need to plan ahead before signing up for classes. When you’re a new student planning on finishing the program quickly, you might not be able to make all of the connections necessary to plan ahead in order to take the course most pertinent to your future career. That’s where the CSPB Schedule Generator comes in.</p>

        <p>This tool can provide students with potential schedules that ensure the student gets to take the electives they want to take while maintaining a balanced schedule throughout the program. We take into consideration what classes students want to take, have no interest in, what they’ve already taken, and which semesters they want to take courses, and how much time they have to invest in the program each week.</p>

        <p>This project was undertaken as part of CSPB 3308: Software Development Tools and Methods and was built by Emily Carpenter, Ryan Young, and Guanbo Bian.</p>
	</div>

{% endblock %}