{% extends "base.html" %}
{% block body %}

        <h6 style="color: red">WARNING: submitting a new planner will overwrite your old one</h6>
        <p>Click <a href="{{ url_for('user', username=current_user.username) }}">here</a> to see your current schedule</p>
        <h5>Classes already taken:</h5>
        <form method="POST" action="/plan">
        <input type="checkbox" value="1" name="mycheckbox"> CSPB 1300 Computer Science 1&nbsp;
        <br>
        <input type="checkbox" value="2" name="mycheckbox"> CSPB 2824 Discrete Structures&nbsp;
        <br>
        <input type="checkbox" value="3" name="mycheckbox"> CSPB 2270 Data Structures&nbsp;
        <br>
        <input type="checkbox" value="4" name="mycheckbox"> CSPB 3104 Algorithms&nbsp;
        <br>
        <input type="checkbox" value="5" name="mycheckbox"> CSPB 2400 Computer Systems
        <br>
        <input type="checkbox" value="6" name="mycheckbox"> CSPB 3308 Software Development Methods and Tools&nbsp;
        <br>
        <input type="checkbox" value="7" name="mycheckbox"> CSPB 3155 Principles of Programming Languages&nbsp;
        <br>
        <input type="checkbox" value="8" name="mycheckbox"> CSPB 3702 Cognitive Science&nbsp;
        <br>
        <input type="checkbox" value="9" name="mycheckbox"> CSPB 3022 Intro to Data Science&nbsp;
        <br>
        <input type="checkbox" value="10" name="mycheckbox"> CSPB 4122 Information Visualization
        <br>
        <input type="checkbox" value="11" name="mycheckbox"> CSPB 4502 Data Mining&nbsp;
        <br>
        <input type="checkbox" value="12" name="mycheckbox"> CSPB 2820 Linear Algebra&nbsp;
        <br>
        <input type="checkbox" value="13" name="mycheckbox"> CSPB 3403 CyberSecurity&nbsp;
        <br>
        <input type="checkbox" value="14" name="mycheckbox"> CSPB 3202 Intro to Artificial Intelligence&nbsp;
        <br>
        <input type="checkbox" value="15" name="mycheckbox"> CSPB 4622 Machine Learning
        <br>
        <input type="checkbox" value="16" name="mycheckbox"> CSPB 3302 Introduction to Robotics&nbsp;
        <br>
        <input type="checkbox" value="17" name="mycheckbox"> CSPB 3753 Operating Systems&nbsp;
        <br>
        <input type="checkbox" value="18" name="mycheckbox"> CSPB 3287 Database Systems&nbsp;
        <br>
        <br>
        <h5>How many hours do you want to spend per week? (Course commitments range between 5 and 20 hours per class per week.)</h5>
        <input type="number" id="hour_to" name="hour_to_have" min = 0 max = 100 maxlength="4" size="4" value="{{ request.form['hours'] }}">
        <br>
        <br>
        <h5>Elective Classes want to take (up to 21 credits, including what you've already taken):</h5>
        <form method="POST" action="/plan">
        <input type="checkbox" value="3702" name="mycheckbox_elect"> CSPB 3702 Cognitive Science (3 credits)&nbsp;
        <br>
        <input type="checkbox" value="3022" name="mycheckbox_elect"> CSPB 3022 Intro to Data Science (3 credits)&nbsp;
        <br>
        <input type="checkbox" value="4122" name="mycheckbox_elect"> CSPB 4122 Information Visualization (3 credits)&nbsp;
        <br>
        <input type="checkbox" value="4502" name="mycheckbox_elect"> CSPB 4502 Data Mining (3 credits)
        <br>
        <input type="checkbox" value="2820" name="mycheckbox_elect"> CSPB 2820 Linear Algebra (3 credits)&nbsp;
        <br>
        <input type="checkbox" value="3403" name="mycheckbox_elect"> CSPB 3403 CyberSecurity (4 credits)&nbsp;
        <br>
        <input type="checkbox" value="3202" name="mycheckbox_elect"> CSPB 3202 Intro to Artificial Intelligence (3 credits)&nbsp;
        <br>
        <input type="checkbox" value="4622" name="mycheckbox_elect"> CSPB 4622 Machine Learning (3 credits)
        <br>
        <input type="checkbox" value="3302" name="mycheckbox_elect"> CSPB 3302 Introduction to Robotics (3 credits)&nbsp;
        <br>
        <input type="checkbox" value="3753" name="mycheckbox_elect"> CSPB 3753 Operating Systems (4 credits)&nbsp;
        <br>
        <input type="checkbox" value="3287" name="mycheckbox_elect"> CSPB 3287 Database Systems (3 credits)&nbsp;
        <br>
        <br>
        <h5>Classes you want to avoid (up to 15 credits.):</h5>
        <form method="POST" action="/plan">
        <input type="checkbox" value="3702" name="mycheckbox_not"> CSPB 3702 Cognitive Science&nbsp;
        <br>
        <input type="checkbox" value="3022" name="mycheckbox_not"> CSPB 3022 Intro to Data Science&nbsp;
        <br>
        <input type="checkbox" value="4122" name="mycheckbox_not"> CSPB 4122 Information Visualization
        <br>
        <input type="checkbox" value="4502" name="mycheckbox_not"> CSPB 4502 Data Mining&nbsp;
        <br>
        <input type="checkbox" value="2820" name="mycheckbox_not"> CSPB 2820 Linear Algebra&nbsp;
        <br>
        <input type="checkbox" value="3403" name="mycheckbox_not"> CSPB 3403 CyberSecurity&nbsp;
        <br>
        <input type="checkbox" value="3202" name="mycheckbox_not"> CSPB 3202 Intro to Artificial Intelligence&nbsp;
        <br>
        <input type="checkbox" value="4622" name="mycheckbox_not"> CSPB 4622 Machine Learning
        <br>
        <input type="checkbox" value="3302" name="mycheckbox_not"> CSPB 3302 Introduction to Robotics&nbsp;
        <br>
        <input type="checkbox" value="3753" name="mycheckbox_not"> CSPB 3753 Operating Systems&nbsp;
        <br>
        <input type="checkbox" value="3287" name="mycheckbox_not"> CSPB 3287 Database Systems&nbsp;
        <br>
        <br>
        <h5>Select your semesters:</h5>
        <form method="POST" action="/plan">
        <input type="checkbox" value="0" name="mycheckbox_semester"> Summer2022&nbsp;
        <br>
        <input type="checkbox" value="1" name="mycheckbox_semester"> Fall2022&nbsp;
        <br>
        <input type="checkbox" value="2" name="mycheckbox_semester"> Spring2023&nbsp;
        <br>
        <input type="checkbox" value="3" name="mycheckbox_semester"> Summer2023&nbsp;
        <br>
        <input type="checkbox" value="4" name="mycheckbox_semester"> Fall2023&nbsp;
        <br>
        <input type="checkbox" value="5" name="mycheckbox_semester"> Spring2024
        <br>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>

{% endblock %}