{% extends "base.html" %}

{% block body %}

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.classesTaken.label }} 
            {{ form.classesTaken }}
            {% for error in form.classesTaken.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.hoursPerWeek.label }}<br>
            {{ form.hoursPerWeek(size=32) }}<br>
            {% for error in form.hoursPerWeek.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.electives.label }} 
            {{ form.electives }}
            {% for error in form.electives.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.semester.label }} 
            {{ form.semester }}
            {% for error in form.semester.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.notTake.label }} 
            {{ form.notTake }}
            {% for error in form.notTake.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}

